$background: "#F2F2F2";
$surface: "#38598A";
$primary: "#003366";
$alternate: "#1976D2";
$secondary: "#38598A";
$grey-dark: "#313231";
$grey-light: "#757575";
$grey-lightest: "#dee2e6";
$links: "#1A5A96";
$error: "#D8292F";
$success: "#2E8540";
$warning: "#FCBA19";
