$surface: "#38598A";
$primary: "#003366";
$alternate: "#1976D2";
$secondary: "#38598A";
$grey-dark: "#313231";
$grey-light: "#757575";
$grey-lightest: "#dee2e6";
$white-smoke: "#f8f8f8";
$hawkes-blue: "#d9eafd";
$links: "#1A5A96";
$info: "#1A5A96";
$error: "#D8292F";
$success: "#2E8540";
$warning: "#FFC72C";
$alert-info: "#D4EAFF";
$alert-warning: "#FEF1D8";
$alert-error: "#F4E1E2";
$alert-success: "#99ff99";
