$surface: "#38598A";
$primary: "#013366";
$alternate: "#1976D2";
$secondary: "#38598A";
$grey-dark: "#3B3A39";
$grey-light: "#A19F9D";
$grey-lightest: "#D2D0CE";
$grey-darkest: "#5F6368";
$grey-stepper: "#4F4F4F";
$ash-grey: "#ADB5BD";
$white-smoke: "#f8f8f8";
$background-light: "#FAF9F8";
$background-light-success: "#F6FFF8";
$hawkes-blue: "#d9eafd";
$links: "#1A5A96";
$info: "#1A5A96";
$error: "#D8292F";
$success: "#2E8540";
$warning: "#FFC72C";
$warning-border: "#F8BB47";
$alert-info: "#D4EAFF";
$alert-warning: "#FEF1D8";
$alert-error: "#F4E1E2";
$alert-success: "#99ff99";
