@import "./_colors.scss";

.v-alert {
  .v-alert-title {
    font-weight: bold;
  }
  &.info {
    background-color: #{$alert-info};
  }
  &.warning {
    background-color: #{$alert-warning};
  }
  &.error {
    background-color: #{$alert-error};
  }
  &.success {
    background-color: #{$alert-success};
  }
}
