@import "./_colors.scss";

.v-stepper {
  .v-stepper-item {
    .v-avatar {
      background: #{$primary};
    }
  }

  .v-stepper-actions {
    .v-btn {
      background-color: #{$primary};
      &__content {
        color: white;
      }
    }
  }
}
