$surface: #ffffff;
$primary: #013366;
$alternate: #1976d2;
$secondary: #38598a;
$grey-dark: #313231;
$grey-light: #757575;
$grey-lightest: #dee2e6;
$grey-darkest: #5f6368;
$grey-stepper: #4f4f4f;
$grey-pale-background: #f2f2f2;
$ash-grey: #adb5bd;
$white-smoke: #f8f8f8;
$background-light: #faf9f8;
$background-light-success: #f6fff8;
$hawkes-blue: #d9eafd;
$links: #1a5a96;
$info: #003366;
$error: #d8292f;
$success: #2e8540;
$warning: #ffc72c;
$warning-border: #f8bb47;
$alert-info: #d4eaff;
$alert-warning: #fef1d8;
$alert-error: #f4e1e2;
$alert-success: #99ff99;
$support-surface-info: #f7f9fc;
$support-border-info: #053662;
