@use "colors.scss";
// disabled step styling
.v-stepper-item {
  color: #{colors.$grey-stepper};
  opacity: 1;
  .v-avatar {
    background-color: #{colors.$grey-stepper};
  }
}

.v-stepper-item--selected {
  font-weight: bold;
  color: #{colors.$primary};
}

.v-stepper-item--complete {
  color: #{colors.$links};
  .v-stepper-item__avatar.v-avatar {
    background: #{colors.$links} !important;
  }
}
