[*]
insert_final_newline = true
indent_style = space
indent_size = 2

[*.cs]

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# S2094: Classes should not be empty
dotnet_diagnostic.S2094.severity = suggestion

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = suggestion

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = suggestion

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = suggestion

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = suggestion

# CA1062: Validate arguments of public methods
dotnet_code_quality.CA1062.exclude_extension_method_this_parameter = true

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = suggestion
